__pycache__
.mypy_cache/
.vscode/
assets/*
!/assets/robot.xml
env/
envs/
envs1/
stub/
samples/
CppClass/build/
CppClass/cython_idle/
CppClass/d__init__.py
CppClass/*.so
draft.ipynb
module_saves
log*.txt
