__pycache__
.mypy_cache/
env/
envs/
envs1/
stub/
CppClass/build/
CppClass/*.so
CppClass/cython_idle/build/
CppClass/cython_idle/*.so
CppClass/glfw
CppClass/mujoco
assets/*.mp4
assets/*.png
assets/*.npy
module_saves
log*.txt
pyrvo2
rosws/build
rosws/install
rosws/log
rosws/src/epuck2_connector/epuck2_connector/__pycache__
rosws/env
env_
